# Logs
log.txt
traceback.txt
errors.txt

# macOS-related files
.DS_Store
.AppleDouble
.LSOverride

# Windows-related files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Ren'Py files
*.rpyc
*.rpyb
*.rpymc
*.pyc
*.pyo

[Gg]ame/saves/
[Gg]ame/cache/
.vscode/
